[Unit]
Description=Weekly letsencrypt renewal check
Requires=containers.nginx.service

[Service]
Type=oneshot
ExecStartPre=/usr/local/bin/containers.build_or_ignore.sh containers.letsencrypt {{ letsencrypt_dir }}
ExecStart=/opt/containers.letsencrypt/containers.letsencrypt.renew
KillMode=process
TimeoutStartSec=infinity
