#!/bin/bash

# Copyright 2020 Andrew Hayzen <ahayzen@gmail.com>
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

echo "Going to try renewing letsencrypt certificate if required"

/usr/bin/docker run \
  --rm \
  --security-opt "apparmor=containers-letsencrypt" \
  --volume="{{ letsencrypt_conf_dir }}:/etc/letsencrypt" \
  --volume="{{ letsencrypt_acme_dir }}:/srv/letsencrypt" \
  --volume="{{ letsencrypt_log_dir }}:/var/log/letsencrypt" \
  containers.letsencrypt renew
renew_status=$?

# If exit code wasn't zero then we need to restart nginx
# as the letsencrypt certificate was renewed
if [ $renew_status -ne 0 ]; then
    echo "Letsencrypt certificate was renewed, restarting containers.nginx"

    # This might cause containers.letsencrypt to be rerun when
    # nginx starts again and therefore run thus script again,
    # but the second time the docker command should exit with 0.
    systemctl restart containers.nginx
else
    echo "No letsencrypt certificate renewal, skipping restarting containers.nginx"
fi
