[Unit]
Description=letsencrypt service for {{ letsencrypt_domain }}
After=docker.service containers.nginx.service
PartOf=containers.nginx.service
Requires=docker.service containers.nginx.service

[Service]
Type=oneshot
ExecStartPre=/usr/local/bin/containers.build_or_ignore.sh containers.letsencrypt {{ letsencrypt_dir }}
ExecStart=/opt/containers.letsencrypt/containers.letsencrypt.init
ExecStop=/usr/bin/docker stop containers.letsencrypt
ExecStopPost=-/usr/bin/docker rm --force containers.letsencrypt
TimeoutStartSec=infinity
WorkingDirectory=/opt/containers.letsencrypt

[Install]
WantedBy=multi-user.target
