#!/bin/bash

# Copyright 2020 Andrew Hayzen <ahayzen@gmail.com>
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

if [ "$1" = "init" ]; then
    # If letsencrypt keys have not been created then run certbot
    if [ ! -e "/etc/letsencrypt/live/{{ letsencrypt_domain }}/privkey.pem" ] || [ ! -e "/etc/letsencrypt/live/{{ letsencrypt_domain }}/fullchain.pem" ] ; then
        echo "[init] Going to create initial letsencrypt certificate"

        # Note that webroot-path here is where certbot will put the acme-challenge files
        # which nginx exposes to the web via http
        certbot certonly \
            -m "{{ letsencrypt_email }}" \
            --agree-tos -n \
            -d "{{ letsencrypt_domain }}" -d "www.{{ letsencrypt_domain }}" \
            --webroot --webroot-path /srv/letsencrypt

        # Signify to executer that nginx needs to be restarted
        exit 1
    else
        echo "[init] letsencrypt certificate already created, skipping"
        exit 0
    fi
elif [ "$1" = "renew" ]; then
    rm -f /run/letsencrypt/renewal.check
    echo "[renew] Going to try renewing letsencrypt certificate"
    certbot renew --deploy-hook "touch /run/letsencrypt/renewal.check"

    if [ -f /run/letsencrypt/renewal.check ] ; then
        # A renewal happened, so signify that we need to restart nginx
        rm -f /run/letsencrypt/renewal.check
        exit 1
    else
        exit 0
    fi
else
    exec "$@"
fi
