#include <tunables/global>


profile containers-nginx flags=(attach_disconnected,mediate_deleted) {
  #include <abstractions/base>

  #
  # Networking
  #

  # We need networking
  network inet tcp,
  network inet udp,
  network inet icmp,

  deny network raw,
  deny network packet,

  #
  # Capabilities
  #

  capability chown,

  # Nginx logs are owned by www-admin:adm by default
  # Nginx starts as root and then changes to another user
  # so it needs dac_override to access the files
  #
  # FIXME: in the future we might be able to limit the cap to paths
  # https://gitlab.com/apparmor/apparmor/wikis/TechnicalDoc#capabilities
  #
  # capability dac_override {
  #   /var/log/nginx/{access,error}.log rw,
  # }
  capability dac_override,

  capability setuid,
  capability setgid,

  # So nginx can bind to port 80 and 443
  capability net_bind_service,

  #
  # Mounts
  #

  umount,
  deny mount,

  #
  # Filepaths
  #

  # FIXME: Some docker overlay paths aren't resolved by apparmor
  /var/lib/docker/*/overlay2/*/diff/etc/nginx/** r,

  # Allow cp as our entrypoint uses this
  /bin/cp rix,

  # We use stderr / stdout
  /dev/tty rw,

  # Allow reading of fallback letsencrypt certs
  /etc/default/letsencrypt.{privkey,fullchain}.pem r,

  # Allow changing user (eg nginx from root to www-admin)
  /etc/group r,
  /etc/nsswitch.conf r,
  /etc/passwd r,

  # Allow reading of letsencrypt certificates
  /etc/letsencrypt/{,**} r,

  # Allow reading of nginx config
  /etc/nginx/** r,

  # Allow reading of hosts and resolv for DNS
  /etc/host.conf r,
  /etc/hosts r,
  /etc/resolv.conf r,

  # Allow reading of ssl config
  /etc/ssl/** r,

  # Allow copying letsencrypt certificates to /tmp
  /tmp/privkey.pem rw,
  /tmp/fullchain.pem rw,

  # Allow writing to nginx run file
  /run/nginx.pid rw,

  # Allow reading of letsencrypt acme challenge mount
  /srv/letsencrypt/** r,

  # Allow reading of mounted data folders
  {% for item in nginx_folder_mapping %}
  {{ item.alias }}/** r,
  {% endfor %}

  # Allow reading and exectuing docker entrypoint
  /usr/local/bin/docker-entrypoint.sh rix,

  # Allow executing nginx binary
  /usr/sbin/nginx ix,

  # Allow reading of nginx files
  /usr/share/nginx/** r,

  # Allow reading and writing of nginx files
  /var/lib/nginx/** rw,

  # Allow nginx log itself
  /var/log/nginx/{access,error}.log rw,
}
