[Unit]
Description=nginx service for {{ nginx_domain }}
After=docker.service containers.wagtail.service
PartOf=containers.wagtail.service
Requires=docker.service containers.wagtail.service
StartLimitBurst=5
StartLimitIntervalSec=30

[Service]
ExecStartPre=/usr/local/bin/containers.build_or_ignore.sh containers.nginx {{ nginx_dir }}
ExecStart=/usr/bin/docker run --name=containers.nginx \
  --network containers.network.web \
  --publish "80:9080/tcp" \
  --publish "443:9443/tcp" \
  --security-opt "apparmor=containers-nginx" \
  --volume={{ letsencrypt_conf_dir }}:/etc/letsencrypt:ro \
  --volume={{ letsencrypt_acme_dir }}:/srv/letsencrypt:ro \
  {% for item in nginx_folder_mapping %}
  --volume={{ item.host_dir }}:{{ item.alias }}:ro \
  {% endfor %}
  containers.nginx
ExecStop=/usr/bin/docker stop containers.nginx
ExecStopPost=-/usr/bin/docker rm --force containers.nginx
Restart=on-failure
TimeoutStartSec=infinity
WorkingDirectory=/opt/containers.nginx

[Install]
WantedBy=multi-user.target
