#!/bin/bash

# Copyright 2020 Andrew Hayzen <ahayzen@gmail.com>
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# If there are letsencrypt certs then use them, otherwise use fallback
if [ ! -e "/etc/letsencrypt/live/{{ nginx_domain }}/privkey.pem" ] || [ ! -e "/etc/letsencrypt/live/{{ nginx_domain }}/fullchain.pem" ] ; then
    echo "No letsencrypt certificate so using fallback"

    cp /etc/default/letsencrypt.privkey.pem /tmp/privkey.pem
    cp /etc/default/letsencrypt.fullchain.pem /tmp/fullchain.pem
else
    cp "/etc/letsencrypt/live/{{ nginx_domain }}/privkey.pem" /tmp/privkey.pem
    cp "/etc/letsencrypt/live/{{ nginx_domain }}/fullchain.pem" /tmp/fullchain.pem
fi

if [ "$1" = "nginx" ]; then
    exec nginx -c /etc/nginx/nginx.conf -g "daemon off;"
else
    exec "$@"
fi
