# Copyright 2020 Andrew Hayzen <ahayzen@gmail.com>
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
FROM debian:buster-slim

ARG SITE={{ nginx_domain }}

# Add group and user with fixed id's so that it won't change
# otherwise the permissions of the volume can become inaccessible
#
# And note that we reuse the www-data user that is configured in the
# nginx package.
RUN groupadd --gid 52323 www-data-group \
    && usermod -u 11407 www-data \
    && groupmod -g 11407 www-data \
    && usermod -a -G www-data-group www-data \
    && apt-get update \
    && apt-get install -y --no-install-recommends ca-certificates nginx \
    && apt-get clean && rm -rf /var/lib/apt/lists/* \
    && sed -i 's/user www-data;//g' /etc/nginx/nginx.conf \
    && chown www-data:www-data /var/lib/nginx \
    && touch /run/nginx.pid \
    && chown www-data:www-data /run/nginx.pid \
    && rm /etc/nginx/sites-enabled/default \
    && openssl req -x509 -nodes -days 365 -newkey rsa:2048 \
        -keyout /etc/default/letsencrypt.privkey.pem \
        -out /etc/default/letsencrypt.fullchain.pem \
        -subj /CN=${SITE} \
    && chown root:www-data-group /etc/default/letsencrypt.*.pem \
    && chmod 640 /etc/default/letsencrypt.privkey.pem

VOLUME [ "/etc/letsencrypt", "/srv/letsencrypt" {% for item in nginx_folder_mapping %}, "{{ item.alias }}"{% endfor %} ]

# Copy the site config
COPY ${SITE} /etc/nginx/sites-available/${SITE}
RUN ln -s /etc/nginx/sites-available/${SITE} /etc/nginx/sites-enabled/${SITE}

EXPOSE 9080
EXPOSE 9443
STOPSIGNAL SIGTERM

USER www-data

COPY docker-entrypoint.sh /usr/local/bin/
ENTRYPOINT ["docker-entrypoint.sh"]

CMD ["nginx"]
