upstream upstream_server {
    # fail_timeout=0 means we always retry an upstream even if it failed
    # to return a good HTTP response (in case the Unicorn master nukes a
    # single worker for timing out).
    server {{ nginx_upstream_server }} fail_timeout=0;
}

# http server, this allows for the acme-challenge to work
# and redirects other requests to https server
server {
    listen 9080;
    server_name {{ nginx_domain }} www.{{ nginx_domain }};

    # Redirect logging to stdout
    access_log /dev/stdout;
    error_log stderr warn;

    location /.well-known/acme-challenge/ {
        root /srv/letsencrypt;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

# https server
server {
    listen 9443 ssl;
    server_name {{ nginx_domain }} www.{{ nginx_domain }};

    # letsencrypt or fallback certificates
    ssl_certificate /tmp/fullchain.pem;
    ssl_certificate_key /tmp/privkey.pem;

    # Redirect logging to stdout
    access_log /dev/stdout;
    error_log stderr warn;

    # Set maximum upload size
    client_max_body_size 25m;

    location / {
        # an HTTP header important enough to have its own Wikipedia entry:
        #   http://en.wikipedia.org/wiki/X-Forwarded-For
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        # enable this if and only if you use HTTPS, this helps Rack
        # set the proper protocol for doing redirects:
        proxy_set_header X-Forwarded-Proto https;

        # pass the Host: header from the client right along so redirects
        # can be set properly within the Rack application
        proxy_set_header Host $http_host;

        # we don't want nginx trying to do something clever with
        # redirects, we set the Host: header above already.
        proxy_redirect off;

        proxy_pass http://upstream_server;

        # proxy_set_header X-Forwarded-Host $server_name;
        # proxy_set_header X-Real-IP $remote_addr;
        # add_header P3P 'CP="ALL DSP COR PSAa PSDa OUR NOR ONL UNI COM NAV"';
    }

    # Direct folder aliases
    {% for item in nginx_folder_mapping %}
        location {{ item.location }} {
            alias {{ item.alias }};
        }
    {% endfor %}

    # Error pages
    error_page 500 502 503 504 /500.html;
    location = /500.html {
        root {{ nginx_template_500_root }};
    }
}
