[Unit]
Description=postgres service
After=docker.service
Requires=docker.service
StartLimitBurst=5
StartLimitIntervalSec=30

[Service]
ExecStartPre=-/usr/bin/docker network create --driver bridge containers.network.database
ExecStartPre=/usr/local/bin/containers.build_or_ignore.sh containers.postgres {{ postgres_dir }}
ExecStart=/usr/bin/docker run --name=containers.postgres \
  --expose "5432" \
  --network containers.network.database \
  --security-opt "apparmor=containers-postgres" \
  --volume={{ postgres_data_dir }}:/var/lib/postgresql \
  --volume={{ postgres_ssl_dir }}:/opt/containers.postgres/ssl \
  containers.postgres
ExecStop=/usr/bin/docker stop containers.postgres
ExecStopPost=-/usr/bin/docker rm --force containers.postgres
Restart=on-failure
TimeoutStartSec=infinity
WorkingDirectory=/opt/containers.postgres

[Install]
WantedBy=multi-user.target
