#!/bin/bash

# Copyright 2020 Andrew Hayzen <ahayzen@gmail.com>
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# TODO: loop through all dbs ?
DATABASE_NAME="{{ postgres_db_name }}"

function createInitialDB {
  # Generate the initial database
  if [ ! -f "$PGDATA/BUILT_DATABASE_11_1" ]; then
      echo "Going to create db cluster"

      initdb --encoding="UTF-8" --username="postgres"

      # internal start of server in order to allow set-up using psql-client
      # does not listen on external TCP/IP and waits until start finishes
      PGUSER="${PGUSER:-postgres}" \
      pg_ctl -D "$PGDATA" \
             -o "-c config_file=/etc/postgresql/11/main/postgresql.conf" \
             -o "-c listen_addresses=''" \
             -w start

      echo "Going to create user postgres"
      psql --username postgres --command "CREATE USER \"postgres\"";

      echo "Going to create db $DATABASE_NAME"
      createdb --encoding="UTF-8" "$DATABASE_NAME"
      psql --username postgres --command "GRANT ALL PRIVILEGES ON DATABASE \"$DATABASE_NAME\" TO \"postgres\"";

      PGUSER="${PGUSER:-postgres}" \
      pg_ctl -D "$PGDATA" \
          -o "-c config_file=/etc/postgresql/11/main/postgresql.conf" \
          -m fast -w stop

      touch "$PGDATA/BUILT_DATABASE_11_1"
  fi
}

function createSSLCerts {
  # Generate the SSL certificates
  # we need to do them here as the permissions need to be set correctly
  # As per https://www.postgresql.org/docs/11/ssl-tcp.html#SSL-CERTIFICATE-CREATION
  if [ ! -f "$PGROOT/BUILT_SSL_CERTS_1" ]; then
    # Generate certificate signing request (CSR) and a public/private key file
    openssl req -new -nodes -text -out "$PGROOT/root.csr" -keyout "$PGROOT/root.key" \
      -subj "/CN=containers.postgres.root"
    chmod og-rwx "$PGROOT/root.key"

    # Generate server key which will be signed later
    openssl req -new -nodes -text -out "$PGROOT/server.csr" \
      -keyout "$PGROOT/server.key" -subj "/CN=containers.postgres"
    chmod og-rwx "$PGROOT/server.key"

    touch "$PGROOT/BUILT_SSL_CERTS_1"
  fi
}

function loadClientSSL {
    export PGSSLROOTCERT=/opt/containers.postgres/ssl/root.crt
    export PGSSLCERT=/opt/containers.postgres/ssl/server.crt
    export PGSSLKEY=/tmp/server.perm.key
    export PGSSLMODE=require

    # The server key needs to be 600 with this user, so we copy and change the perms
    cp /opt/containers.postgres/ssl/server.key /tmp/server.perm.key
    chown "$USER":"$USER" /tmp/server.perm.key
    chmod 600 /tmp/server.perm.key
}

function loadServerConfig {
  # Create root dir for postgres
  # this needs to be done here as it is within the volume
  mkdir -p "$PGROOT"
  chown "$USER":"$USER" "$PGROOT"
  chmod 0700 "$PGROOT"
}

function renewSSLCerts() {
  DAYS=90

  echo "Renewing SSL certs for $DAYS days"

  # Sign the request with the key to create a root certificate authority
  openssl x509 -req -in "$PGROOT/root.csr" -text -days $DAYS \
    -extfile /etc/ssl/openssl.cnf -extensions v3_ca \
    -signkey "$PGROOT/root.key" -out "$PGROOT/root.crt"

  # Sign the server key by the new root certificate authority
  openssl x509 -req -in "$PGROOT/server.csr" -text -days $DAYS \
    -CA "$PGROOT/root.crt" -CAkey "$PGROOT/root.key" -CAcreateserial \
    -out "$PGROOT/server.crt"

  # These are the pub parts which clients use to auth
  SSL_DIR=/opt/containers.postgres/ssl
  cp "$PGROOT/server.crt" "$SSL_DIR/server.crt"
  cp "$PGROOT/server.key" "$SSL_DIR/server.key"
  cp "$PGROOT/root.crt" "$SSL_DIR/root.crt"
  chmod 644 "$SSL_DIR/server.key"

  chown -R postgres:postgresclient "$SSL_DIR"
}

function verifyThenRenewSSLCerts() {
  RENEW_DAYS=30

  echo "Verifying SSL certs have more than $RENEW_DAYS days left"

  # openssl req -text -noout -verify -in root.csr
  # openssl rsa -in root.key -check
  # openssl x509 -in root.crt -text -noout
  # openssl x509 -in server.crt -text -noout

  # verify if the certs which can expire are still valid
  /usr/bin/ssl-cert-check -b -x $RENEW_DAYS -c "$PGROOT/root.crt" |grep Valid
  root_status=$?
  /usr/bin/ssl-cert-check -b -x $RENEW_DAYS -c "$PGROOT/server.crt" |grep Valid
  server_status=$?

  # If the time limited certs are not valid or missing then refresh
  if [ $root_status -ne 0 ] || [ $server_status -ne 0 ]; then
    renewSSLCerts
  fi
}

# Run the given command
if [ "$1" = 'postgres' ]; then
    loadServerConfig
    createSSLCerts
    verifyThenRenewSSLCerts

    # TODO:instead loop here?
    createInitialDB

    exec postgres \
         -D "$PGDATA" \
         -c config_file=/etc/postgresql/11/main/postgresql.conf \
         -c listen_addresses='0.0.0.0'
elif [ "$1" = 'backup' ]; then
    loadClientSSL

    # https://www.postgresql.org/docs/current/backup-dump.html#BACKUP-DUMP
    # https://www.postgresql.org/docs/current/app-pgrestore.html#APP-PGRESTORE-EXAMPLES
    exec pg_dump \
         --encoding="UTF-8" \
         --format=custom \
         --host=containers.postgres \
         --username="postgres" \
         "$DATABASE_NAME" > /backup/containers.postgres.wagtail.bak
elif [ "$1" = 'restore' ]; then
    loadClientSSL

    # https://www.postgresql.org/docs/current/app-pgrestore.html#APP-PGRESTORE-EXAMPLES
    exec pg_restore \
         --clean \
         --dbname="$DATABASE_NAME" \
         --host=containers.postgres \
         --no-owner \
         --role="postgres" \
         --username="postgres" \
         /backup/containers.postgres.wagtail.bak
else
    loadClientSSL

    exec "$@"
fi
