#include <tunables/global>


profile containers-wagtail flags=(attach_disconnected,mediate_deleted) {
  #include <abstractions/base>

  #
  # Networking
  #

  # We need networking
  network inet tcp,
  network inet udp,

  deny network inet icmp,
  deny network raw,
  deny network packet,

  #
  # Capabilities
  #

  capability chown,
  capability setuid,
  capability setgid,

  # So wagtail can bind to a port
  capability net_bind_service,

  #
  # Mounts
  #

  umount,
  deny mount,

  #
  # Filepaths
  #

  # FIXME: Some docker overlay paths aren't resolved by apparmor
  /var/lib/docker/*/overlay2/*/diff/srv/webapp/{{ wagtail_domain }}/{,**} r,
  /var/lib/docker/*/overlay2/*/diff/usr/lib/python3{,.?}/{,**} rm,
  /var/lib/docker/*/overlay2/*/diff/usr/{,local/}bin/ r,
  /var/lib/docker/*/overlay2/*/diff/usr/local/lib/python3{,.?}/dist-packages/{,**} rm,

  # Allow cp as our entrypoint uses this
  /bin/{chmod,chown,cp,dash,mkdir,uname} rix,

  # We use stderr / stdout
  /dev/tty rw,

  # Allow changing user
  /etc/{group,nsswitch.conf,passwd} r,

  # Allow DNS
  /etc/{hosts,host.conf,resolv.conf} r,

  # Allow getaddrinfo
  /etc/gai.conf r,

  # Python needs mime types
  /etc/mime.types r,

{% if wagtail_typescript %}
  # Allow reading of ssl config for node
  /etc/ssl/openssl.cnf r,
{% endif %}

  # gunicorn needs to write tmp data
  /tmp/* rw,

  # Allow copying postgres certificate to /tmp
  /tmp/server.pem.key rw,

  # Allow reading of the postgres SSL keys which will be copied
  /opt/containers.postgres/ssl/** r,

  # Allow using ldconfig
  /sbin/ldconfig ix,

  # Allow reading of the web directory
  /srv/webapp/{{ wagtail_domain }}/{,**} r,
  /srv/webapp/{{ wagtail_domain }}/core rw,
  /srv/webapp/{{ wagtail_domain }}/**/__pycache__/{,**} w,

  # Allow writing to media and static
  /srv/webapp/media/{,**} rkw,
  /srv/webapp/static/{,**} rkw,

{% if wagtail_graphicsmagick %}
  # Allow using convert
  /usr/bin/{convert,gm} rix,
{% endif %}

  # Allow writing of extra mounted data folders
  {% for item in wagtail_extra_data %}
  {{ item.alias }}/{,**} rkw,
  {% endfor %}

  # Allow using python3
  /usr/bin/python3{,.?} rix,

  # Allow executing docker entrypoint and gunicorn binary
  /usr/{,local/}bin/{,docker-entrypoint.sh,gunicorn,gunicorn_start} rix,

{% if wagtail_typescript %}
  # Allow executing node, npm, and typescript
  /usr/{,local/}bin/{,node,npm,tsc} rix,
{% endif %}

  # Allow reading of python3 packages
  /usr/lib/python3{,.?}/{,**} rm,
  /usr/local/lib/python3{,.?}/dist-packages/{,**} rm,

{% if wagtail_typescript %}
  # Allow executing of node modules and typescript node modules
  /usr/share/node_modules/{,**} r,
  /usr/local/lib/node_modules/typescript/{,**} r,
  /usr/local/lib/node_modules/typescript/bin/tsc rix,
{% endif %}

{% if wagtail_graphicsmagick %}
  # Allow GraphicsMagick to read it's files
  /usr/share/GraphicsMagick*/{,**} r,
{% endif %}

  # Allow ca-certificates
  /usr/share/ca-certificates/{,**} r,

  # Python needs to access fds/mounts etc of processes
  owner @{PROC}/[0-9]*/fd/{,**} r,
  owner @{PROC}/[0-9]*/mounts r,
}
