[Unit]
Description=wagtail service for {{ wagtail_domain }}
After=docker.service containers.postgres.service
PartOf=containers.postgres.service
Requires=docker.service containers.postgres.service
StartLimitBurst=5
StartLimitIntervalSec=30

[Service]
ExecStartPre=-/usr/bin/docker network create --driver bridge containers.network.web
ExecStartPre=/usr/local/bin/containers.build_or_ignore.sh containers.wagtail {{ wagtail_dir }}
ExecStartPre=/usr/bin/docker create --name=containers.wagtail \
  --expose "{{ wagtail_port }}" \
  --network containers.network.database \
  --security-opt "apparmor=containers-wagtail" \
  --volume=/opt/containers.postgres/ssl:/opt/containers.postgres/ssl:ro \
  --volume={{ wagtail_api_keys }}:/srv/webapp/{{ wagtail_domain }}/{{ wagtail_settings_name }}/settings/apikeys.py:ro \
  --volume={{ wagtail_media_dir }}:/srv/webapp/media \
  --volume={{ wagtail_static_dir }}:/srv/webapp/static \
  {% for item in wagtail_extra_data %}
  --volume={{ item.host_dir }}:{{ item.alias }}:ro \
  {% endfor %}
  containers.wagtail
ExecStartPre=/usr/bin/docker network connect containers.network.web containers.wagtail
ExecStart=/usr/bin/docker start --attach containers.wagtail
ExecStop=/usr/bin/docker stop containers.wagtail
ExecStopPost=-/usr/bin/docker rm --force containers.wagtail
Restart=on-failure
TimeoutStartSec=infinity
WorkingDirectory=/opt/containers.wagtail

[Install]
WantedBy=multi-user.target
