# Copyright 2020 Andrew Hayzen <ahayzen@gmail.com>
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
FROM debian:buster-slim

ENV DEBIAN_FRONTEND noninteractive
ENV LC_ALL=C
ENV PYTHONUNBUFFERED 1

VOLUME ["/srv/webapp/static", "/srv/webapp/media"]

# FIXME: do we need all of these?
# with the new libsass do we even need gcc etc now ?
RUN apt-get update \
    && apt-get install -y --no-install-recommends \
        gcc \
        git \
        g++ \
{% if wagtail_graphicsmagick %}
        graphicsmagick-imagemagick-compat \
{% endif %}
        libfreetype6-dev \
        libjpeg-dev \
        liblcms2-dev \
        libpq-dev \
        libtiff5-dev \
        libwebp-dev \
{% if wagtail_typescript %}
        npm \
{% endif %}
        python3-dev \
        python3-pip \
        python3-setuptools \
        python3-six \
        tcl8.6-dev \
        zlib1g-dev \
    && apt-get clean && rm -rf /var/lib/apt/lists/* \
{% if wagtail_typescript %}
    && npm install -g typescript \
{% endif %}
    && groupadd --gid 51615 postgresclient \
    && groupadd --gid 52323 wwwdata \
    && useradd --groups postgresclient,wwwdata --shell /bin/bash --uid 12301 wagtail \
    && git clone {{ wagtail_git_url }} /srv/webapp/{{ wagtail_domain }} \
    && cd /srv/webapp/{{ wagtail_domain }} \
    && pip3 --no-cache-dir install gunicorn psycopg2-binary \
    && pip3 --no-cache-dir install -r /srv/webapp/{{ wagtail_domain }}/requirements.txt \
    && apt-get purge -y \
        gcc \
        g++ \
        python3-dev \
        python3-pip \
    && apt-get autoremove -y \
    && apt-get clean && rm -rf /var/lib/apt/lists/* \
    && chown -R wagtail:wagtail /srv/webapp \
    && chown -R wagtail:wwwdata /srv/webapp/media \
    && chown -R wagtail:wwwdata /srv/webapp/static

COPY docker-entrypoint.sh /usr/local/bin
COPY gunicorn_start /usr/local/bin

USER wagtail

# Ensure we use production when wsgi starts
RUN echo "from .production import *" > /srv/webapp/{{ wagtail_domain }}/{{ wagtail_settings_name }}/settings/__init__.py

COPY --chown=wagtail:wagtail local.py /srv/webapp/{{ wagtail_domain }}/{{ wagtail_settings_name }}/settings/local.py

# Add SECRET_KEY to local.py
# Note that the SECRET_KEY changing invalidates any sessions, cookies etc
RUN echo "SECRET_KEY = \"$(< /dev/urandom tr -dc 'a-zA-Z0-9' | fold -w 256 | head -n 1)\"" >> /srv/webapp/{{ wagtail_domain }}/{{ wagtail_settings_name }}/settings/local.py

ENV DJANGO_SETTINGS_MODULE {{ wagtail_settings_name }}.settings.production

# Postgres ssl config
ENV PGSSLROOTCERT /opt/containers.postgres/ssl/root.crt
ENV PGSSLCERT /opt/containers.postgres/ssl/server.crt
ENV PGSSLKEY /tmp/server.perm.key
ENV PGSSLMODE require

WORKDIR /srv/webapp/{{ wagtail_domain }}

ENTRYPOINT ["docker-entrypoint.sh"]

CMD ["gunicorn_start"]
