ALLOWED_HOSTS = ["*"]
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2', # Add 'postgresql_psycopg2', 'mysql', 'sqlite$
        'NAME': '{{ wagtail_db_name }}',                      # Or path to database file if using sqlite3.
        'USER': 'postgres',
        'PASSWORD': '',
        'HOST': 'containers.postgres',                      # Empty for localhost through domain sockets or         $
        'PORT': '',                      # Set to empty string for default.
    }
}
STATIC_ROOT = "/srv/webapp/static/"
MEDIA_ROOT = "/srv/webapp/media/"

# If there is an apikeys file then try to import it
# eg RECAPTCHA_PUBLIC_KEY, RECAPTCHA_PRIVATE_KEY
try:
    from .apikeys import *
except ImportError:
    pass
